*.class
*/gradlew
*/mvnw
*/mvnw.cmd
*.bat
/target/
*/bin/*
.mvn/*
*/.mvn/*
*/classes
*.kotlin_module


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### Visual Studio Code ###
.vscode/*
